/**
 * Styles for the GPS 2 Photo Add-on Modal.
 *
 * This file contains the CSS rules for the modal window used to display
 * the map for adding or amending GPS coordinates.
 *
 * @package    GPS 2 Photo Add-on
 * @subpackage CSS
 * @since      1.0.0
 * @author     Pawel Block <pblock@op.pl>
 */

.gps2photos-modal {
	display: none;
	/* Initially hidden, will be changed to 'flex' by JS */
	position: fixed;
	z-index: 160001;
	/* Higher than WP media modal z-index (160000) */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	/* Flexbox for centering */
	align-items: center;
	justify-content: center;
}

.gps2photos-modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 100%;
	/* Use a percentage for better responsiveness */
	height: 100%;
	/* Use a percentage for better responsiveness */
	position: relative;
	/* For close button positioning */
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	/* Make this a flex container */
	display: flex;
	flex-direction: column;
}

.gps2photos-modal-close {
	color: #aaa;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 28px;
	font-weight: bold;
}

.gps2photos-modal-close:hover,
.gps2photos-modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Azure Maps Overview Map button hover to correct Athena Theme */
.atlas-map .azmaps-overviewMapBtn:hover {
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: 12px
}

.gps2photos-map-container {
	width: 100%;
	/* Allow the map to grow and fill available space */
	flex-grow: 1;
	position: relative;
	overflow: hidden;
	/* Prevent map from spilling out */
	/* Required for Azure Maps rendering */
}

/* Styles for the tooltip inside the modal's h2 */
.gps2photos-modal-content h2 {
	display: flex;
	align-items: center;
}

.gps2photos-modal-content .gps2photos-tooltip-container {
	position: relative;
	display: inline-block;
	margin-left: 8px;
}

.gps2photos-modal-content .gps2photos-tooltip-trigger {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: help;
	padding-bottom: 2px;
}

.gps2photos-modal-content .gps2photos-tooltip-container .gps2photos-tooltip-text {
	visibility: hidden;
	width: 250px;
	background-color: #333;
	color: #fff;
	text-align: left;
	padding: 10px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	top: 0;
	/* Align top of tooltip with top of icon */
	left: 100%;
	/* Position to the right of the icon */
	margin-left: 10px;
	/* Add some space */
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font-weight: lighter;
	/* Reset font weight inherited from h2 */
	font-size: 13px;
	/* Set a standard font size */
}

.gps2photos-modal-content .gps2photos-tooltip-container:hover .gps2photos-tooltip-text {
	visibility: visible;
	opacity: 1;
}

.gps2photos-modal-content #gps2photos-modal-inputs p:first-of-type {
  margin-top: 5px; /* or whatever margin you want */
}

.gps2photos-modal-message.notice {
	padding: 4px;
	margin: 0;
	border-radius: 3px;
	border-left-width: 4px;
	border-left-style: solid;
}

.gps2photos-modal-message.notice-success {
	background-color: #f0f6fc;
	border-color: #2c882c;
	color: #0a3622;
}

.gps2photos-modal-message.error {
	background-color: #fbeaea;
	border-color: #d63638;
	color: #b32d2e;
}

.gps2photos-save-container {
	display: flex;
	align-items: center;
	gap: 15px;
	/* Space between button and message */
	margin: 13px 0 0 0;
}

.gps2photos-save-container button {
	margin: 0;
}

.gps2photos-restore-coords-btn {
	margin-top: 13px;
}

.gps2photos-modal-message {
	flex-grow: 1;
	/* The message div will take up the remaining space */
}